body{
    margin: 0;
    padding: 0;
    bottom: 0;
    text-align: center;
}

#cabeçalho{
    background-color: rgb(32, 32, 32);
    position: static;
    width: 100%;
    top: 0;
    height: 70px;
    text-align: center;
    z-index: 1;
    padding-top: 5px;
}

#nav{
    background-color: transparent;
    height: 105px;
    display: flex;
}

#logo-link{
    width: 50%;
}

#logo{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    width: 240px;
    height: 72px;
}

#divLink{
    width: 50%;
    display: flex;
    justify-content: end;
}

#Links{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.links{
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#linkCatalogo{
    height: 30px;
    background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 0, 0));
    background-repeat: no-repeat;
    background-size: 60% 3px;
    background-position: bottom;
    transition: 700ms ease ;
    cursor: pointer;
    text-decoration: none;
}


#conteudo{
    width: 70%;
    border: 2px solid black;
}

#texto{
    text-align: justify;
}